body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #424242;
    color: #9b06ff;
    font-family: 'Amarante', cursive;
}

h1 {
    font-size: 50px;
}

button {
    font-size: 30px;
    margin: 15px;
    border-radius: 4px;
    border: none;
    font-family: 'Amarante', cursive;
}

#rock:hover {
    box-shadow: rgba(169, 39, 255, 0.4) -5px 5px, rgba(169, 39, 255, 0.4) -10px 10px;
}
#paper:hover {
    box-shadow: rgba(169, 39, 255, 0.4) 0px 5px, rgba(169, 39, 255, 0.4) 0px 10px;
}
#scissors:hover {
    box-shadow: rgba(169, 39, 255, 0.4) 5px 5px, rgba(169, 39, 255, 0.4) 10px 10px;
}
#rock, #paper, #scissors {
    background-color: #E1E2EF;
    color: #9b06ff;
}

#results {
    display: flex;
    margin: 10px;
}

p {
    margin: 25px;
    font-size: 30px;   
}
#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 300px;
    max-width: 80%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
#modal.active{
    transform: translate(-50%, -50%) scale(1);
}
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
#overlay.active {
    pointer-events: all;
    opacity: 1;
}